@font-face {
	font-family: frank;
	src: url('Frank/Frank-Knows.ttf');
}

.jumbotron {
	text-align: center;

}
body {
    background: url(../images/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	font-family: frank;
}

#map {
        height: 600px;
        width: 100%;
}
