/*Imported the font-family*/
@font-face {
	font-family: frank;
	src: url('Frank/Frank-Knows.ttf');
}
/*================== Header styles ==================*/
.jumbotron {
	text-align: center;
	opacity: 0;
}

ul.menu {
    display: block;
}

li.menu-item a {
    color: #fff;
}

ul.menu li {
    display: inline-block;
    padding: 10px 25px;
    padding-bottom: 10px;
    background: #337ab7;
}
/*================== Main Content Area ==================*/
body {
    background: url(../images/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.panel {
	opacity: 0;
}

h1 {
	font-family: frank;
}

#map {
        height: 600px;
        width: 100%;
        opacity: 0;
}

p.back-btn {
    margin: 0px;
}
